.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-fluid {
    max-width: 1660px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.back-to-top {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    box-shadow: 0 1px 12px 0 rgb(0 0 0 / 50%);
    background-color: rgba(0, 0, 0, .5);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 15px;
    right: 25px;
    display: none;

    i {
        transition: all 0.2s linear;
        color: $while;
        font-size: 12px;
    }
}

.text-while {
    width: 100%;
    text-align: center;
    color: $while;
}

.text-black {
    width: 100%;
    text-align: center;
    color: $dark;
}

.d-flex {
    display: flex;
    align-items: center;
}

.df-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.win {
    background-color: $green;
}

.lose {
    background-color: $red;
}

.draw {
    background-color: $gray;
}

.bg-1 {
    background-color: #e62333;
}

.bg-2 {
    background-color: #fe0002;
}

.bg-3 {
    background-color: #480025;
}

.bg-4 {
    background-color: #c61d23;
}

.bg-5 {
    background-color: #0054a6;
}

.bg-6 {
    background-color: #0a4595;
}

.bg-7 {
    background-color: #eb302e;
}

.bg-8 {
    background-color: #00369c;
}

.bg-9 {
    background-color: #f5f5f5;
}

.bg-10 {
    background-color: #f5f5f5;
}

.bg-11 {
    background-color: #273e8a;
}

.bg-12 {
    background-color: #e31b23;
}

.bg-13 {
    background-color: #6caee0;
}

.bg-14 {
    background-color: #d81920;
}

.bg-15 {
    background-color: #383838;
}

.bg-16 {
    background-color: #d71920;
}

.bg-17 {
    background-color: #d71920;
}

.bg-18 {
    background-color: #f5f5f5;
}

.bg-19 {
    background-color: #7d2c3b;
}

.bg-20 {
    background-color: #f9a01b;
}

.loader {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999999;
}

@keyframes follow-the-leader {
    0% {
        -webkit-transform: rotate(0deg) translateY(-200%);
        transform: rotate(0deg) translateY(-200%);
    }

    60%,
    100% {
        -webkit-transform: rotate(360deg) translateY(-200%);
        transform: rotate(360deg) translateY(-200%);
    }
}

.follow-the-leader {
    height: 14px;
    position: relative;
    margin: 30px auto;
    width: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.follow-the-leader div {
    -webkit-animation: follow-the-leader 1.875s infinite backwards;
    animation: follow-the-leader 1.875s infinite backwards;
    background-color: #ffffff;
    border-radius: 100%;
    height: 100%;
    position: absolute;
    width: 100%;
}

.follow-the-leader div:nth-child(1) {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
    background-color: rgba(255, 255, 255, 0.9);
}

.follow-the-leader div:nth-child(2) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    background-color: rgba(255, 255, 255, 0.8);
}

.follow-the-leader div:nth-child(3) {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
    background-color: rgba(255, 255, 255, 0.7);
}

.follow-the-leader div:nth-child(4) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    background-color: rgba(255, 255, 255, 0.6);
}

.follow-the-leader div:nth-child(5) {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
    background-color: rgba(255, 255, 255, 0.5);
}