.header {
    background-color: $while;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.2s linear;

    &-top {
        margin: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        p {
            font-size: 11px;
            color: $gray;
        }

        img {
            width: 30px;
            height: 30px;
            object-fit: cover;
            transition: all 0.2s linear;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    &-middle {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $primary-color;
        padding-left: 20px;
        transition: all 0.2s linear;
    }

    &-menu {
        padding-left: 125px;
        height: 50px;
        display: flex;
        align-items: center;
        list-style: none;
        position: relative;

        &-logo {
            width: 125px;
            height: 170px;
            min-height: 125px;
            position: absolute;
            left: -25px;
            top: -75px;
            z-index: 99;
            background-color: $while;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top-right-radius: 137%;
            border-bottom-right-radius: 85%;
            transition: all 0.2s linear;

            &-sm {
                position: absolute;
                left: -20px;
                top: -5px;
                z-index: 99;
                display: none;
            }


            img {
                width: 92px;
            }
        }

        &-item {
            color: $while;
        }

        &-link {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            @include menu-style;

            i {
                font-size: 11px;
                color: inherit;
            }
        }
    }

    &-auth {
        height: 50px;
        color: $while;
        display: flex;
        align-items: center;

        &-toggle {
            display: none;
        }

        &-link {
            @include menu-style;
            height: 50px;
            line-height: 50px;
            text-decoration: none;
        }

        i,
        label {
            padding: 0 20px;
            color: $while;
            cursor: pointer;
        }
    }

    &-bottom {
        width: 100%;
        height: 50px;
        position: relative;

        &-toggle {
            position: absolute;
            padding: 0 10px;
            line-height: 50px;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: all 0.2s linear;
            font-size: 13px;
            font-weight: 300;
            color: $gray;

            &:hover {
                background-color: $gray-hover;
            }
        }
    }

    &-nav {
        background-color: $while;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        font-weight: 300;
        color: $gray;

        &-item {
            line-height: 50px;
            padding: 0 20px;
            color: inherit;
            cursor: pointer;
            position: relative;
        }



        &-link {
            display: flex;
            align-items: center;
            gap: 10px;
            color: inherit;
            transition: all 0.2s linear;

            @include nav-active;

            &:hover {

                &:before {
                    height: 4px;
                }
            }
        }

        &-toggle {
            display: flex;
            align-items: center;
            gap: 10px;
            color: inherit;
        }

        &-active {
            font-weight: 600;
            @include nav-active;

            &:before {
                height: 4px;
            }
        }
    }


    &-checkbox {
        display: none;

        &:checked~.header-mobile {
            transform: translateX(0%);
        }

    }

    &-mobile {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: $primary-color;
        z-index: 9999999 !important;
        transform: translateX(-100%);
        transition: transform 0.2s linear;

        &-head {
            height: 60px;
            background-color: $primary-color;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid $close;
            overflow: hidden;
            position: relative;

            img {
                width: 100px;
                margin: 0 20px;
            }
        }

        &-right {
            display: flex;
            align-items: center;
        }

        &-link {
            padding: 0 20px;
            height: 50px;
            line-height: 50px;
            color: inherit;
            font-weight: 500;
            font-size: 15px;

            &:first-child {
                display: none;
            }
        }

        &-toggle {
            &-exit {
                font-size: 18px;
                height: 60px;
                width: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $close;
                margin-left: 10px;
            }
        }

        &-sub-menu {
            position: absolute;
            width: 185%;
            top: 0;
            right: calc(-185% - 1px);
            height: 100vh;
            background-color: $while;
            overflow: scroll;

            &-item {
                padding: 20px;
                font-size: 12px;
                font-weight: 500;
                color: $dark;
                border-bottom: 1px solid $gray-hover;
            }
        }

        &-menu {
            position: absolute;
            top: 60px;
            left: 0;
            bottom: 0;
            width: 35%;
            color: $while;
            display: flex;
            flex-direction: column;



            &-item {
                background: #37003c;
                padding: 20px;

                &-active {
                    background: #4e0056;
                }

                a {
                    color: $while;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }





            }
        }
    }










    @media screen and (max-width: 1200px) {
        &-top {
            margin: 15px;
            gap: 10px;

            &>img {
                width: 24px;
                height: 24px;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        &-menu {
            &-link {
                font-size: 12px;
                padding: 0 10px;
            }

            &-logo {
                display: none;

                &-sm {
                    display: flex;
                }
            }

        }

        &-auth {
            a {
                font-size: 12px;
                padding: 0 10px;
            }
        }

        &-nav {
            &-item {
                font-size: 11px;
                padding: 0 10px;
            }
        }

        &-bottom {
            &-toggle {
                display: none;
            }
        }
    }

    @media screen and (max-width: 900px) {
        &-top {
            display: none;
        }

        &-middle {
            overflow: hidden;
        }

        &-menu {
            &-logo {
                &-sm {
                    left: -20px;
                    top: -5px;
                }
            }

            &-link {
                display: none;
            }

            &-logo {
                display: none;

                &-sm {
                    display: flex;
                }
            }

        }

        &-auth {
            &-toggle {
                display: flex;
            }

            &-link {
                padding: 0;

                &:first-child {
                    display: none;
                }
            }

            i {
                padding: 0;
            }

            a {
                font-size: 12px;
                padding: 0 10px;
            }
        }

        &-bottom {
            display: none;
        }
    }


}


.hide {
    display: none;
}

.show {
    display: flex;
}