.team {
    padding: 10px;

    &-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-column-gap: 18px;
        grid-row-gap: 28px;
        margin-bottom: 20px;
    }

    &-item {
        width: 100%;
        height: 300px;
        position: relative;
        cursor: pointer;
        box-shadow: 0 1px 4px 0 rgb(0 0 0 / 15%);

        &:hover {
            .team-item-thumb img {
                transform: scale(1.1)
            }
        }

        &-thumb {
            width: 100%;
            height: 150px;
            overflow: hidden;

            img {
                transition: all 1.5s ease-in-out;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-logo {
            width: 96px;
            height: 96px;
            border-radius: 100rem;
            background-color: $while;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 38%;
            left: 50%;
            transform: translate(-50%, -38%);
            box-shadow: 0 1px 3px 0 rgb(0 0 0 / 25%);
        }

        &-name {
            font-size: 17px;
            font-weight: 700;
            width: 100%;
            text-align: center;
            margin-top: 40px;
        }

        &-stadium {
            margin-top: 15px;
            font-weight: 300;
            font-size: 12px;
        }

        &-viewMore {
            margin-top: 35px;
            font-size: 13px;
            font-weight: 400;
        }
    }












    @media screen and (max-width: 375px) {
        padding: 0 10px;
        margin-top: -20px;

        &-filter {

            &-left {
                padding-right: 50px;
            }

            &-heading {
                font-style: italic;
                font-size: 10px;
                color: $secondary-color;
                cursor: pointer;
            }

            &-year {
                margin-top: 5px;
                font-size: 14px;
            }

            &-right {
                font-size: 10px;
            }
        }
    }



}

.block {
    height: 100vh;
    width: 100%;
    background-color: $green;
}