@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

$font: 'Poppins', sans-serif;
$primary-color: #37003c;
$secondary-color: #ff2882;
$close: #e90052;
$linear: linear-gradient(270deg, #ff2882, #963cff 45%);
$blue: #00D7FF;
$facebook: #0096FF;
$red: #d81920;
$dark: #242424;
$gray-text: #6c6c6c;
$unActive: #ebebe6;
$gray: #76766f;
$gray-hover: #dedede;
$while: #fff;
$green: rgb(0, 137, 71);